div{
   background-color: transparent;
   margin: auto;
   position: relative;
}

div ul{
   list-style: none;
   padding: 0;
   margin: 0;
   overflow: hidden; 
}

div > ul > li{
   float: left;
}

div ul li a{
   text-decoration: none;
   color: #fff;
   display: block;
   padding: 10px 20px;
}

div ul li a:hover {
   background-color: white;
}

div > ul > li:hover div{
   display: table;
}


div ul li div {
   width: 600px;
   position: absolute;
   left: 0;
   background: rgba(243, 238, 238, 0.503);
   box-sizing: border-box;
   display: none ;
}

div ul li div ul{
   width: 30%;
   display: table-cell;
   border-right: 1px solid rgba(2, 2, 2, 0.5);
   box-sizing: border-box;
}

div ul li div ul:last-child{
   border: none;
}

div ul li div ul .titulo{
   background-color:transparent;
   color:transparent;  
}

div ul li div ul .titulo a:hover{
   background: none;
}

div ul li div ul li a{
   color:black; 
}
