.section_padding {
	padding: 35px 0;
}
.section_heading {
	margin-bottom: 30px;
}
.section_heading h2 {
	color: #222;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 25px;
	line-height: 30px;
	text-transform: uppercase;
}
.section_heading h2 span {
	color: orangered;
}
.section_heading p {
	font-size: 16px;
	margin: 10px 0 5px;
}
.single-blog {
	transition: all 0.30s ease 0s;
}
.single-blog:hover {
	transform: translateY(-10px);
}
.single-blog .post-img {
	position: relative;
}
.single-blog .post-img img {
	max-width: 100%;
	height: auto;
}
.single-blog .post-img:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background: rgba(255, 69, 0, 0.6);
	transition: all 0.30s ease 0s;
}
.single-blog:hover .post-img:after {
	opacity: 1;
}
.single-blog .single_blog {
	border-top: none;
	padding: 25px 20px 25px;
	background: #fff;
	position: relative;
}
.single-blog .post-title {
	margin: 0 0 15px 0px;
	font-size: 20px;
	color: #333;
	display: inline-block;
	text-transform: capitalize;
	transition: all 0.3s ease 0s;
}
.single-blog .blog-text {
	font-size: 15px;
	line-height: 23px;
	margin: 7px 0 10px;
}
.icon-area {
	list-style: none;
	font-size: 14px;
	padding: 0;
}
.icon-area>li {
	display: inline-block;
	margin-right: 5px;
	color: #555;
	font-style: italic;
}
.icon-area>li i {
	color: orangered;
	margin-right: 5px;
	font-size: 14px;
}
.btn-area a {
	background: linear-gradient(to right, #e7343d, #ff2222);
	font-size: 14px;
	letter-spacing: 0.5px;
	padding: 11px 22px;
	margin: 10px 0px 10px;
	border: none;
	font-weight: 500;
	color: #fff;
	text-transform: capitalize;
	transition: all 0.2s ease-in-out 0s;
}





#id-0013{
    padding-left: 0cm;
    padding-right: 0cm;
  }
  #id-0013 .imgBanCus{
    height: 420px;
    overflow: hidden;
    -webkit-border-bottom-right-radius: 32px;
    -webkit-border-bottom-left-radius: 32px;
    -moz-border-radius-bottomright: 32px;
    -moz-border-radius-bottomleft: 32px;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
  }
  #id-0013 .imgBanCus img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #id-0013  imgBanCus img.c-title-48{
    color:#ffffff;
   font-family:system-ui;
font-size:40px;
font-weight:500;
line-height:48px;
margin:0px 0px 8px;
  }
  





  #id-0013 > .row{
    margin-right: 0;
    margin-left: 0  ;
  }
  #id-0013 .brb-20{
    border-radius: 0 0 20px 20px;
  }
  #id-0013 .bloque{
    height: 100%;
    top: 0;
    width: 205%;
    
    
  }



  #id-0013 .cajaFormu .form2cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#id-0013 .cajaFormu .form2cols .colElement {
    width: calc(50% - 4px);
}
#id-0013 .bloque .boxContenido .btnTipo-Enlace:nth-child(3) {
    display: inline-block;
}
#id-0013 .bloque .boxContenido .btnTipo-Enlace:nth-child(4) {
    display: none;
}
#id-0013 .bloque .boxContenido .btnTipo-Modal:nth-child(3){
    display: none;
}
#id-0013 .bloque .boxContenido .btnTipo-Modal:nth-child(4){
   display: inline-block;
}

#id-0013{
    padding-left: 0;
    padding-right: 0;
  }
  #id-0013 .imgBanCus{
    height: 420px;
    overflow: hidden;
    -webkit-border-bottom-right-radius: 32px;
    -webkit-border-bottom-left-radius: 32px;
    -moz-border-radius-bottomright: 32px;
    -moz-border-radius-bottomleft: 32px;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
  }
  #id-0013 .imgBanCus img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #id-0013 .mainText{
    box-sizing: border-box;
    width: 100%;
    max-width: 608px;
  }
  #id-0013 .cajaFormu{
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    max-width: 608px;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 10px;
  }
  #id-0013 .cajaFormu .smallForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #id-0013 .cajaFormu .smallForm{
    margin-bottom: 8px;
  }
  #id-0013 .cajaFormu .smallForm .col-31{
    width: calc(50% - 4px);
    flex: none;
  }
  #id-0013 .cajaFormu .c-input, #id-0013 .cajaFormu .c-select{
    font-size: 16px;
    height: auto;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
  }
  #id-0013 .cajaFormu .cuscomb{
    position: relative;
  }
  #id-0013 .cajaFormu .cuscomb::after{
    content: '';
    position: absolute;
    width: 16px;
    height: 10px;
    right: 20px;
    top: 18px;
    display: block;
    background: url("/Internet para tu casa/imagenes/arrow-bottom.svg") no-repeat 0 0;
    pointer-events: none;
  }
  #id-0013 .cajaFormu .cuscomb select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: #fff;
  }
  #id-0013 .cajaFormu .c-form-group .line{
    display: none !important;
  }
  #id-0013 .cajaFormu .c-label,
  #id-0013 .cajaFormu .smallForm .c-label{
    display: none !important;
  }
  #id-0013 .cajaFormu .c-checkbox p{
    font-size: 14px;
    color: #fff;
  }
  #id-0013 .cajaFormu .c-checkbox .c-link{
    color: #fff !important;
    text-decoration: underline !important;
  }
  #id-0013 .cajaFormu .c-checkbox > label::before{
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
  }
  #id-0013 .cajaFormu .c-checkbox > label::after{
    width: 11px;
    height: 7px;
  }
  #id-0013 .cajaFormu .c-checkbox.checknormal > label::before{
    border: 1px solid #9c9c9c;
  }
  #id-0013 .cajaFormu .c-checkbox.checknormal p{
    color: #222;
  }
  #id-0013 .cajaFormu .c-checkbox.checknormal .c-link{
    color: #0097A9 !important
  }
  #id-0013 .cajaFormu label.error1, #id-0013 .cajaFormu label.error{
    position: relative;
  }
  @media only screen and (max-width: 991px){
  
    #id-0013 .mainText{
      margin-left: auto;
      margin-right: auto;
    }
    #id-0013 .cajaFormu{
      margin-left: auto;
      margin-right: auto;
    }
  
    }

    @media only screen and (max-width: 767px){
        #id-0013 .imgBanCus{
           height: 470px;
       }
        
         #id-0013 .bloque{
           align-items: flex-end !important;
           padding-bottom: 20px;
         }
         #id-0013 .cajaFormu h2{
           font-size: 16px !important;
           padding-bottom: 10px !important
         }
         #id-0013 .c-checkbox{
           margin-top: 10px !important;
         }
         #id-0013 .buttons-modal{
           margin-top: 10px !important;
           
         }
       #id-0013 .bloque > .container > .row{
           margin-right: 0;
           margin-left: 0;
         }
         }
       
         a {
           color: #02060d;
           text-decoration: underline;
       }



.section_heading{
        color:#222222;
        font-family:AMX-Bold;
        font-size:32px;
        font-weight:500;
        line-height:32px;
        padding:48px 0px 32px;
        text-align:center;
       }     
       
       




#id-0014.id14 .text-h1{
  line-height: 32px !important;
  letter-spacing: -0.02em;
}
#id-0014.id14 .owl-stage {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
 flex: 1 0 auto;
}
#id-0014.id14 .owl-item{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto !important;
flex: 1 0 auto;
}

#id-0014.id14 .botones{
position:absolute;
bottom:0px;
width:85%;
}
#id-0014.id14 .logo-plan{
height:40px;
}
@media (max-width: 992px) {
#id-0014.id14 .botones{
position:relative;
bottom:0;
width:100%;
}

}

#id-0014.id14 .owl-carousel .owl-item img {
  display: inline-block;
width: auto !important;
  width: 100%;
}
#id-0014.id14 .logosApps img{
  width: auto !important;
}
#id-0014.id14 .owl-carousel .owl-nav button.owl-next, 
#id-0014.id14 .owl-carousel .owl-nav button.owl-prev {
  padding: 30px 10px !important;
  min-width: 95px !important;
  cursor: pointer;
  background: #FAFAFA;
  border: 1px solid #F0F0F0;
  color: #0FBDDF; 
  position: absolute;
  top: 43%;
}
#id-0014.id14 .owl-carousel .owl-nav button.owl-next{
  border-radius: 0px 16px 16px 0px;
  right: -87px;
}
#id-0014.id14 .owl-carousel .owl-nav button.owl-prev{
  border-radius: 16px 0px 0px 16px;
  left: -89px;
}
@media screen and (min-width: 767.9px) and (max-width: 800px){
  #id-0014.id14 .botones {
  position: relative;
  bottom: 0;
  width: 86%;
}

}
@media only screen and (max-width: 1024px){
#id-0014.id14 .owl-carousel .owl-nav button.owl-next img , 
#id-0014.id14 .owl-carousel .owl-nav button.owl-prev img {
  width: 20px;
  height: 20px;
}  
#id-0014.id14 .owl-carousel .owl-nav button.owl-next, 
#id-0014.id14 .owl-carousel .owl-nav button.owl-prev { 
  padding: 10px 0px !important;
  min-width: 40px !important;
} 
#id-0014.id14 .owl-carousel .owl-nav button.owl-next{
  right: -11px;
}
#id-0014.id14 .owl-carousel .owl-nav button.owl-prev{
  left: -11px;
}
} 


.logo-plan{
  width: 46.4px;
   transition: none 0s ease 0s;
    cursor: move;
}


.c-text-primary {
  color:rgb(252, 29, 0);
  font-family: AMX-Bold;
    font-size: 35px;
    line-height: 24px;
    font-weight: bold ;
    
}

.font-14 {
  font-size: 14px !important;
  position: relative;
   left: 15px;
   top: 20px;
   
}
.font-15{
  font-size: 14px !important;
  left: 9px;
   top: 7px;
   transition: none 0s ease 0s;
    cursor: move;
}


.pt-44 {
  padding-top: 44px !important;
}

.pt-48 {
  padding-top: 48px !important;
}
.pt-20 {
  padding-top: 20px !important;
}

.pt-24 {
  padding-top: 24px !important;
}

.col-lg-13 {
  -ms-flex: 0 0 41.935483%;
  flex: 0 0 41.935483%;
  max-width: 41.935483%
}

.col-lg-14 {
  -ms-flex: 0 0 45.16129%;
  flex: 0 0 45.16129%;
  max-width: 45.16129%
}


.col-lg-15 {
  -ms-flex: 0 0 48.387096%;
  flex: 0 0 48.387096%;
  max-width: 48.387096%
  
}
.col-lg-16 {
 

  max-width: 51.612903%;
  font-size: 20px;
}
.col-17 {
  -ms-flex: 0 0 54.838709%;
  flex: 0 0 54.838709%;
  max-width: 54.838709%
}

.col-18 {
  -ms-flex: 0 0 58.064516%;
  flex: 0 0 58.064516%;
  max-width: 58.064516%
}
.col-16 {
  -ms-flex: 0 0 51.612903%;
  flex: 0 0 51.612903%;
  max-width: 51.612903%;
  left: -3px;
   top: -21px;
    transition: none 0s ease 0s;
     cursor: move;
}








.text-left {
  text-align: left
}
.text-right {
  text-align: right
}
.text-center {
  text-align: center
}
@media (min-width: 576px) {
  .text-sm-left {
      text-align:left
  }

  .text-sm-right {
      text-align: right!important
  }

  .text-sm-center {
      text-align: center!important
  }
}
@media (min-width: 768px) {
  .text-md-left {
      text-align:left!important
  }

  .text-md-right {
      text-align: right!important
  }

  .text-md-center {
      text-align: center!important
  }
}
@media (min-width: 992px) {
  .text-lg-left {
      text-align:left!important
  }

  .text-lg-right {
      text-align: right!important
  }

  .text-lg-center {
      text-align: center!important
  }
}
@media (min-width: 1200px) {
  .text-xl-left {
      text-align:left!important
  }

  .text-xl-right {
      text-align: right!important
  }

  .text-xl-center {
      text-align: center!important
  }
}


.text-lowercase {
  text-transform: lowercase!important
}

.text-uppercase {
  text-transform: uppercase!important
}

.text-capitalize {
  text-transform: capitalize!important
}

.font-weight-light {
  font-weight: 300
}

.font-weight-lighter {
  font-weight: lighter
}

.font-weight-normal {
  font-weight: 400
}

.font-weight-bold {
  font-weight: 700
}

.font-weight-bolder {
  font-weight: bolder
}

.font-italic {
  font-style: italic
}

.text-white {
  color: #fff
}

.text-primary {
  color: #007bff
}

a.text-primary:focus,a.text-primary:hover {
  color: #0056b3
}

.text-secondary {
  color: #6c757d
}

a.text-secondary:focus,a.text-secondary:hover {
  color: #494f54
}

.text-success {
  color: #28a745
}

a.text-success:focus,a.text-success:hover {
  color: #19692c
}

.text-info {
  color: #17a2b8
}

a.text-info:focus,a.text-info:hover {
  color: #0f6674
}

.text-warning {
  color: #ffc107
}

a.text-warning:focus,a.text-warning:hover {
  color: #ba8b00
}

.text-danger {
  color: #dc3545
}

a.text-danger:focus,a.text-danger:hover {
  color: #a71d2a
}

.text-light {
  color: #f8f9fa
}

a.text-light:focus,a.text-light:hover {
  color: #cbd3da
}

.text-dark {
  color: #343a40
}

a.text-dark:focus,a.text-dark:hover {
  color: #121416
}

.text-body {
  color: #212529
}

.text-muted {
  color: #6c757d
}

.text-black-50 {
  color: rgba(0,0,0,.5)
}

.text-white-50 {
  color: rgba(255,255,255,.5)
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0
}

.text-decoration-none {
  text-decoration: none
}

.text-break {
  word-break: break-word;
  overflow-wrap: break-word
}

.text-reset {
  color: inherit
}

.visible {
  visibility: visible
}

.invisible {
  visibility: hidden
}

@media print {
  *,::after,::before {
      text-shadow: none;
      box-shadow: none
  }

  a:not(.btn) {
      text-decoration: underline
  }

  abbr[title]::after {
      content: " (" attr(title) ")"
  }

  pre {
      white-space: pre-wrap
  }

  blockquote,pre {
      border: 1px solid #adb5bd;
      page-break-inside: avoid
  }

  thead {
      display: table-header-group
  }

  img,tr {
      page-break-inside: avoid
  }

  h2,h3,p {
      orphans: 3;
      widows: 3
  }

  h2,h3 {
      page-break-after: avoid
  }

  @page {
      size: a3
  }

  body {
      min-width: 992px
  }

  .container {
      min-width: 992px
  }

  .navbar {
      display: none
  }

  .badge {
      border: 1px solid #000
  }

  .table {
      border-collapse: collapse
  }

  .table td,.table th {
      background-color: #fff
  }

  .table-bordered td,.table-bordered th {
      border: 1px solid #dee2e6
  }

  .table-dark {
      color: inherit
  }

  .table-dark tbody+tbody,.table-dark td,.table-dark th,.table-dark thead th {
      border-color: #dee2e6
  }

  .table .thead-dark th {
      color: inherit;
      border-color: #dee2e6
  }
}